body{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2F281E;
}

.container{
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.title{
  font-size: 36px;
  font-weight: 800;
  line-height: 1.2;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-bottom: 70px;
}

.menu__list{
  display: flex;
  gap: 20px;
  text-align: center;
}

.menu__item{
  line-height: 1.7;
  transition: color .3s ease;
}

.menu__item:hover{
  color: #FF9900;
}

.header__btn{
  padding: 13px 26px;
  border: 1px solid #BCD0E5;
  transition: all .3s ease;
  border-radius: 4px;
}

.header__btn:nth-child(2){
  margin-left: 32px;
}

.header__btn:hover{
  background-color: #FF9900;
  color: #FFFFFF;
  border: none;
}

.main{
  margin-bottom: 100px;
}

.hero__box{
  display: flex;
  gap: 55px;
  margin-bottom: 100px;
}

.hero__content{
  padding: 97px 0;
}

.hero__title{
  font-size: 44px;
  line-height: 1,2;
  font-weight: 800;
  margin-bottom: 30px;
}

.hero__text{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.hero__btn{
  padding: 13px 43px;
  background-color: #FF9900;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.hero__img{
  object-fit: cover;
}

.ptoduct{
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.product__title{
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.product__items{
  display: flex;
  gap: 40px;
  z-index: 2;
}

.product__item{
  text-align: left;
}

.product__img{
  object-fit: cover;
  margin-bottom: 30px;
}

.product__subtitle{
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}

.product__text{
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 70px;
}

.product__inner{
  text-align: center;
}

.product__btn{
  display: inline-block;
  color: #fff;
  background-color: #FF9900;
  border-radius: 4px;
  padding: 13px 39px;
  z-index: 2;
}

.product__wave{
  display: block;
  position: absolute;
  bottom: -20%;
  z-index: -1;
}

